@media (min-width: 1170px) {
  .container {
    width: 1170px;
    padding-left: 0;
    padding-right: 0;
  }
  .block01 {
    height: 767px;
    padding-top: 68px;
  }
  .block01 .tel {
    margin-right: 35px;
  }
  .block01 h1 {
    margin-top: 200px;
  }
  .block01 .line {
    width: 204px;
  }
  .block02 {
    padding: 85px 0 75px 0;
  }
  .block02 ul {
    margin: 0 85px;
  }
  .block02 ul li {
    padding: 0;
    width: 170px;
    margin: 0 15px;
  }
  .block02 ul li.item04 {
    margin-left: 0;
  }
  .block03 {
    padding: 48px 0;
  }
  .block03 .slider {
    width: 1030px;
  }
  .block03 .slider .slide-text {
    width: 430px;
    height: 340px;
    padding-top: 45px;
    margin-right: 100px;
  }
  .block03 .slider .slide-text .slide-title {
    font-size: 25px;
    line-height: 30px;
  }
  .block03 .slider .slide-image {
    width: 470px;
    height: 340px;
    margin-right: 30px;
  }
  .block04 {
    padding: 50px 0;
  }
  .block04 h2 {
    font-size: 25px;
  }
  .block04 P {
    width: 600px;
    margin: 0 auto 60px auto;
  }
  .block04 .integer {
    margin-left: -15px;
    margin-right: -15px;
  }
  .block04 .integer li {
    width: 270px;
    font-size: 18px;
    margin: 0 15px 50px 15px;
  }
  .block04 .integer li .item-image {
    height: 200px;
  }
  .block04 .integer li .item-image a {
    padding: 15px;
  }
  .block04 .integer li .item-image a span {
    font-size: 26px;
    line-height: 26px;
    padding-top: 100px;
    background-position: center 60px;
  }
  .block05 {
    height: 600px;
    padding: 80px 0 70px 0;
  }
  .block05 h2 {
    margin-bottom: 95px;
  }
  .block05 ul {
    margin-bottom: 70px;
  }
  .block05 ul li {
    padding: 0 20px;
    font-size: 15px;
  }
  .block06 {
    padding: 60px 0;
  }
  .block06 h2 {
    margin-bottom: 75px;
  }
  .block06 ul {
    margin-bottom: 50px;
  }
  .block06 ul li {
    padding: 0 20px;
    font-size: 15px;
    text-align: center;
  }
  .block06 ul li .item-image {
    width: 65px;
    margin: 0 auto 20px auto;
  }
  .block07 .gallery-inner {
    position: relative;
    margin-bottom: 50px;
  }
  .block07 .gallery ul {
    overflow: hidden;
    margin: 0 -15px;
    padding: 15px 0;
  }
  .block07 .gallery ul li {
    width: 269px;
    margin: 0 15px 0 15px;
  }
  .block07 .gallery ul li a {
    padding: 15px;
  }
  .block07 .gallery ul li a span {
    font-size: 26px;
    line-height: 26px;
    padding-top: 90px;
    background: url("../img/loop.png") center 50px no-repeat;
  }
  .block08 {
    height: 730px;
    padding: 60px 0;
  }
  .block08 h2 {
    font-size: 45px;
    line-height: 45px;
    margin-bottom: 15px;
  }
  .block08 .box {
    font-size: 20px;
    margin: 0 100px 80px 100px;
  }
  .block08 .box-left {
    width: 470px;
    padding-top: 90px;
  }
  .block08 .box-left .text1 {
    font-size: 50px;
    line-height: 50px;
  }
  .block08 .box-left .text2 {
    font-size: 15px;
    line-height: 20px;
  }
  .block08 .box-right {
    width: 570px;
    margin-right: 100px;
  }
  .block09 {
    padding: 68px 0;
  }
  .block09 h2 {
    margin-bottom: 65px;
  }
  .block09 .reply {
    width: 970px;
  }
  .block09 .reply .reply-gallery {
    width: 375px;
    height: 365px;
    overflow: hidden;
    padding-left: 5px;
    margin-right: 95px;
  }
  .block09 .reply .reply-gallery .image-large {
    margin-bottom: 20px;
  }
  .block09 .reply .reply-gallery .image-small {
    float: left;
    width: 170px;
  }
  .block09 .reply .reply-gallery .image-small.right {
    float: right;
  }
  .block09 .reply .reply-gallery .item-image a {
    padding: 15px;
  }
  .block09 .reply .reply-gallery .item-image a span {
    font-size: 26px;
    line-height: 26px;
    padding-top: 90px;
    background: url("../img/loop.png") center center no-repeat;
  }
  .block09 .reply .reply-text {
    width: 470px;
  }
  .block09 .reply .reply-text .reply-author {
    font-size: 40px;
  }
  .block09 .reply .reply-text .reply-city {
    font-size: 25px;
    font-weight: 700;
    line-height: 25px;
  }
  .block09 .reply .reply-text p {
    font-size: 13px;
  }
  .block10 h2 span {
    margin-bottom: 40px;
    text-transform: uppercase;
  }
  .block10 .form-box {
    padding-top: 40px;
    padding-bottom: 20px;
  }
  .footer {
    height: 220px;
    padding-top: 70px;
  }
  .footer .footer-left {
    width: 270px;
    font-size: 20px;
    text-align: center;
    margin-right: 130px;
  }
  .footer .footer-center {
    color: #fff;
    float: left;
    width: 370px;
    text-align: center;
  }
  .footer .footer-center li:last-child {
    margin-top: 5px;
  }
  .footer .footer-right {
    float: right;
    width: 270px;
    height: 100%;
    font-size: 25px;
    line-height: 30px;
    position: relative;
  }
  .footer .footer-right .dev {
    top: 50px;
    left: 60px;
    width: 133px;
    height: 63px;
    cursor: pointer;
    position: absolute;
    background: url("../img/dev-logo.png") 0 0 no-repeat;
  }
  .divider {
    margin: 19px auto;
  }
  .form-box {
    padding: 35px 110px 30px 110px;
  }
  .form-box .form-title {
    color: #000;
    font-size: 16px;
    text-align: center;
    margin-bottom: 30px;
  }
  .form-box .form-title span {
    text-transform: uppercase;
  }
  .cform {
    width: 100%;
    text-align: center;
  }
  .cform ol {
    padding: 0;
    list-style: none;
    margin: 0 0 35px 0;
  }
  .cform li {
    position: relative;
    margin-bottom: 20px;
  }
  .cform li textarea,
  .cform li input[type="text"] {
    width: 100%;
    outline: none;
    display: block;
    color: #aeaeae;
    font-size: 14px;
    background: #fff;
    font-weight: 400;
    line-height: 16px;
    padding: 10px 15px;
    text-align: center;
    border: 2px solid #dcdcdc;
  }
  .cform li textarea {
    height: 190px;
  }
  .slick-dots {
    bottom: 30px;
    left: 130px;
  }
}
