@import url(../fonts/anastasiascript.css);
@import url(http://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700&subset=latin,cyrillic);
/* Base styles
   ========================= */
* {
  webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html,
button,
input,
select,
textarea {
  color: #000;
}
html {
  font-size: 13px;
  line-height: 1.38;
}
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}
.container {
  margin-right: auto;
  margin-left: auto;
  width: 320px;
  padding-left: 10px;
  padding-right: 10px;
  position: relative;
}
.block01 {
  color: #fff;
  height: 270px;
  padding: 25px 0;
  background: url("../img/b01_bd.jpg") top center no-repeat;
}
.block01 .logo {
  float: left;
  width: 80px;
}
.block01 .tel {
  float: right;
  width: 110px;
  font-size: 13px;
  font-weight: 600;
  text-align: right;
}
.block01 .tel span {
  color: #cca56a;
}
.block01 h1 {
  font-size: 25px;
  margin-top: 40px;
  line-height: 26px;
  margin-bottom: 7px;
  text-align: center;
  color: #cca56a;
  font-family: "anastasiascript";
}
.block01 h2 {
  font-size: 12px;
  margin-bottom: 25px;
  text-transform: uppercase;
}
.block01 .line {
  display: none;
}
.block02 {
  padding: 25px 0 0 0;
  border-bottom: 1px solid #dcdcdc;
}
.block02 ul {
  width: 300px;
  margin: 0 auto;
}
.block02 ul li {
  float: left;
  width: 150px;
  padding: 0;
  margin: 0 0 25px 0;
}
.block02 ul li .item-image {
  width: 70px;
  margin: 0 auto 22px auto;
}
.block02 ul li .item-text {
  font-size: 13px;
  text-align: center;
}
.block02 ul li.item05 {
  margin-left: 80px;
}
.block03 {
  padding: 30px 0;
  border-bottom: 1px solid #dcdcdc;
}
.block03 .slider {
  width: 300px;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
}
.block03 .slider .slide-text {
  font-size: 11px;
  text-align: center;
  margin-bottom: 30px;
}
.block03 .slider .slide-text .slide-name {
  font-size: 40px;
  line-height: 40px;
  color: #cca56a;
  font-family: "anastasiascript";
}
.block03 .slider .slide-text .slide-title {
  font-size: 15px;
  font-weight: 700;
  line-height: 18px;
}
.block03 .slider .slide-image {
  width: 300px;
  margin-bottom: 30px;
}
.block03 .slider .slick-prev,
.block03 .slider .slick-next {
  display: none !important;
  visibility: hidden;
}
.block04 {
  padding: 25px 0;
  border-bottom: 1px solid #dcdcdc;
}
.block04 h2 {
  font-weight: 700;
  font-size: 15px;
  margin-bottom: 5px;
}
.block04 P {
  margin: 0 auto 40px auto;
}
.block04 .integer-inner {
  width: 320px;
  margin: 0 auto;
}
.block04 .integer {
  width: 320px;
  margin-left: -10px;
  margin-right: -10px;
}
.block04 .integer li {
  float: left;
  width: 140px;
  font-size: 13px;
  text-align: center;
  margin: 0 10px 30px 10px;
}
.block04 .integer li .item-image {
  overflow: hidden;
  position: relative;
  margin-bottom: 10px;
}
.block04 .integer li .item-image img {
  z-index: 1;
}
.block04 .integer li .item-image a {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  padding: 5px;
  background: #000;
  cursor: pointer;
  position: absolute;
  color: #cca56a;
  font-family: "anastasiascript";
  -webkit-transition: ease-out 0.2s;
  -moz-transition: ease-out 0.2s;
  -o-transition: ease-out 0.2s;
  transition: ease-out 0.2s;
}
.block04 .integer li .item-image a span {
  height: 100%;
  display: none;
  font-size: 12px;
  line-height: 12px;
  padding-top: 50px;
  text-align: center;
  border: 1px solid #cca56a;
  background: url("../img/loop.png") center 18px no-repeat;
}
.block04 .integer li .item-image a:hover {
  background: url("../img/pattern-gray.png");
}
.block04 .integer li .item-image a:hover span {
  display: block;
}
.block05 {
  color: #fff;
  padding: 30px 0;
  background: url("../img/b05_bd.jpg") top center no-repeat;
}
.block05 h2 {
  font-size: 25px;
  line-height: 25px;
  margin-bottom: 20px;
  color: #cca56a;
  font-family: "anastasiascript";
}
.block05 h2 span {
  color: #fff;
  display: block;
  font-size: 18px;
  font-weight: 700;
  font-family: 'Ubuntu', sans-serif;
}
.block05 ul li {
  width: 50%;
  float: left;
  padding: 0 10px;
  font-size: 13px;
  text-align: center;
  margin-bottom: 30px;
}
.block05 ul li .item-image {
  width: 65px;
  margin: 0 auto 20px auto;
}
.block06 {
  padding: 30px 0;
}
.block06 h2 {
  font-size: 25px;
  line-height: 25px;
  margin-bottom: 20px;
  color: #cca56a;
  font-family: "anastasiascript";
}
.block06 h2 span {
  color: #000;
  display: block;
  font-size: 18px;
  font-weight: 700;
  font-family: 'Ubuntu', sans-serif;
}
.block06 ul li {
  width: 50%;
  float: left;
  padding: 0 10px;
  font-size: 13px;
  text-align: center;
  margin-bottom: 40px;
}
.block06 ul li .item-image {
  width: 65px;
  margin: 0 auto 20px auto;
}
.block07 {
  color: #fff;
  padding: 30px 0;
  background: url("../img/b07_bg.jpg");
}
.block07 h2 {
  font-size: 30px;
  margin-bottom: 20px;
}
.block07 .gallery-inner {
  width: 300px;
  position: relative;
  margin: 0 auto 25px auto;
}
.block07 .nav-prev {
  z-index: 20;
  width: 18px;
  height: 14px;
  display: block;
  cursor: pointer;
  margin: 0 auto 22px auto;
  background: url("../img/gallery-nav.png") 0 0 no-repeat;
}
.block07 .nav-next {
  z-index: 20;
  width: 18px;
  height: 14px;
  margin: 0 auto;
  display: block;
  cursor: pointer;
  background: url("../img/gallery-nav.png") 0 -14px no-repeat;
}
.block07 .gallery {
  overflow: hidden;
  position: relative;
  margin-bottom: -5px;
}
.block07 .gallery ul {
  overflow: hidden;
  position: relative;
}
.block07 .gallery ul li {
  width: 300px;
  overflow: hidden;
  position: relative;
  margin: 0 0 40px 0;
}
.block07 .gallery ul li a {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 100;
  padding: 15px;
  cursor: pointer;
  position: absolute;
  color: #cca56a;
  font-family: "anastasiascript";
  -webkit-transition: ease-out 0.2s;
  -moz-transition: ease-out 0.2s;
  -o-transition: ease-out 0.2s;
  transition: ease-out 0.2s;
}
.block07 .gallery ul li a span {
  height: 100%;
  display: none;
  font-size: 18px;
  line-height: 18px;
  padding-top: 60px;
  text-align: center;
  border: 1px solid #cca56a;
  background: url("../img/loop.png") center 30px no-repeat;
}
.block07 .gallery ul li a:hover {
  background: url("../img/pattern-gray.png");
}
.block07 .gallery ul li a:hover span {
  display: block;
}
.block08 {
  color: #fff;
  padding: 20px 0 35px 0;
  background: url("../img/b08_bg.jpg") top center no-repeat;
}
.block08 h2 {
  font-size: 25px;
  line-height: 25px;
  margin-bottom: 10px;
  color: #cca56a;
  font-family: "anastasiascript";
}
.block08 .box {
  font-size: 15px;
  line-height: 18px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 20px;
}
.block08 .box-left {
  text-align: center;
}
.block08 .box-left .text1 {
  color: #cca56a;
  font-family: "anastasiascript";
}
.block08 .box-left .text2 {
  font-weight: 700;
}
.block08 .box-right {
  width: 300px;
  margin: 0 auto;
}
.block09 {
  padding: 30px 0 40px 0;
}
.block09 h2 {
  font-size: 25px;
  margin-bottom: 30px;
}
.block09 .reply-inner {
  width: 300px;
  overflow: hidden;
  position: relative;
  margin: 0 auto;
}
.block09 .reply {
  width: 300px;
  position: relative;
}
.block09 .reply li {
  overflow: hidden;
  position: relative;
}
.block09 .reply .reply-gallery .image-small {
  float: left;
  width: 140px;
}
.block09 .reply .reply-gallery .image-small.right {
  float: right;
}
.block09 .reply .reply-gallery .item-image {
  position: relative;
}
.block09 .reply .reply-gallery .item-image a {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 100;
  padding: 5px;
  cursor: pointer;
  position: absolute;
  color: #cca56a;
  font-family: "anastasiascript";
  -webkit-transition: ease-out 0.2s;
  -moz-transition: ease-out 0.2s;
  -o-transition: ease-out 0.2s;
  transition: ease-out 0.2s;
}
.block09 .reply .reply-gallery .item-image a span {
  height: 100%;
  display: none;
  font-size: 26px;
  line-height: 13px;
  padding-top: 50px;
  text-align: center;
  border: 1px solid #cca56a;
  background: url("../img/loop.png") center 30px no-repeat;
}
.block09 .reply .reply-gallery .item-image a:hover {
  background: url("../img/pattern-gray.png");
}
.block09 .reply .reply-gallery .item-image a:hover span {
  display: block;
}
.block09 .reply .reply-text {
  text-align: center;
}
.block09 .reply .reply-text .reply-author {
  font-size: 30px;
  color: #cca56a;
  font-family: "anastasiascript";
}
.block09 .reply .reply-text .reply-city {
  font-size: 20px;
  font-weight: 700;
  line-height: 30px;
}
.block09 .reply .reply-text p {
  font-size: 12px;
  line-height: 14px;
}
.block09 .reply-nav {
  top: 120px;
  width: 14px;
  height: 18px;
  position: absolute;
  cursor: pointer;
}
.block09 .reply-nav.prev {
  left: 0;
  background: url("../img/nav-arrow.png") 0 0 no-repeat;
}
.block09 .reply-nav.next {
  right: 0;
  background: url("../img/nav-arrow.png") -14px 0 no-repeat;
}
.block09 .reply-nav.prev:hover {
  left: 0;
  background: url("../img/nav-arrow.png") 0 -18px no-repeat;
}
.block09 .reply-nav.next:hover {
  right: 0;
  background: url("../img/nav-arrow.png") -14px -18px no-repeat;
}
.block10 {
  color: #fff;
  padding-top: 35px;
  background: url("../img/b10_bg.jpg") top center no-repeat;
}
.block10 h2 {
  font-size: 25px;
  font-weight: 400;
  line-height: 25px;
  margin-bottom: 22px;
  color: #cca56a;
  font-family: "anastasiascript";
}
.block10 h2 span {
  color: #fff;
  display: block;
  font-size: 15px;
  line-height: 18px;
  font-family: 'Ubuntu', sans-serif;
}
.block10 .form-center {
  width: 300px;
  margin: 0 auto 50px auto;
}
.block10 .form-center textarea,
.block10 .form-center input[type="text"] {
  text-align: left;
}
.footer {
  padding: 30px 0 0 0;
  background: url("../img/pattern-gray.png");
}
.footer .footer-left {
  color: #cca56a;
}
.footer .footer-center {
  color: #fff;
  width: 300px;
  font-size: 11px;
  text-align: center;
}
.footer .footer-center li:last-child {
  margin-top: 5px;
}
.footer .footer-right {
  padding-top: 10px;
  font-size: 18px;
  text-align: center;
  color: #cca56a;
}
.footer .footer-right .dev {
  margin: 10px auto 0 auto;
  width: 133px;
  height: 63px;
  cursor: pointer;
  display: block;
  background: url("../img/dev-logo.png") 0 0 no-repeat;
}
.divider {
  width: 10px;
  height: 10px;
  margin: 10px auto;
  background: url("../img/divider.png") 0 0 no-repeat;
}
.form-box {
  background: #fff;
  padding: 20px 15px;
  border: 3px solid #eedec5;
}
.form-box .form-title {
  color: #000;
  font-size: 11px;
  text-align: center;
  margin-bottom: 30px;
}
.form-box .form-title span {
  text-transform: uppercase;
}
.cform {
  width: 100%;
  text-align: center;
}
.cform ol {
  padding: 0;
  list-style: none;
  margin: 0 0 30px 0;
}
.cform li {
  position: relative;
  margin-bottom: 20px;
}
.cform li textarea,
.cform li input[type="text"] {
  width: 100%;
  outline: none;
  display: block;
  color: #aeaeae;
  font-size: 11px;
  background: #fff;
  font-weight: 400;
  line-height: 12px;
  padding: 10px 15px;
  text-align: center;
  border: 2px solid #dcdcdc;
}
.cform li textarea {
  height: 150px;
}
.gallery-modal {
  background: url("../img/b07_bg.jpg");
  border: 3px solid #cca56a;
}
.gallery-modal .modal-image {
  margin-bottom: 30px;
}
.gallery-modal .fancybox-inner {
  position: relative;
}
.gallery-modal .text-center {
  left: 0;
  right: 0;
  bottom: -65px;
  position: absolute;
}
.gallery-modal .modal-nav {
  top: 50%;
  width: 14px;
  height: 18px;
  margin-top: -9px;
  position: absolute;
  cursor: pointer;
}
.gallery-modal .modal-nav.prev {
  left: -30px;
  background: url("../img/nav-arrow.png") 0 -36px no-repeat;
}
.gallery-modal .modal-nav.next {
  right: -30px;
  background: url("../img/nav-arrow.png") -14px -36px no-repeat;
}
.gallery-modal .modal-nav.prev:hover {
  background: url("../img/nav-arrow.png") 0 -18px no-repeat;
}
.gallery-modal .modal-nav.next:hover {
  background: url("../img/nav-arrow.png") -14px -18px no-repeat;
}
.btn-close {
  top: -35px;
  right: 50%;
  margin-right: -15px;
  width: 30px;
  height: 30px;
  color: #fff;
  font-size: 30px;
  line-height: 30px;
  cursor: pointer;
  position: absolute;
  text-transform: uppercase;
  font-family: 'Ubuntu', sans-serif;
}
.modal-form {
  width: 500px;
}
.modal-form .form-box {
  padding: 40px;
}
.btn {
  margin: 0;
  color: #fff;
  padding: 10px;
  outline: none;
  font-size: 8px;
  cursor: pointer;
  line-height: 100%;
  font-weight: normal;
  text-align: center;
  white-space: nowrap;
  display: inline-block;
  text-decoration: none;
  vertical-align: middle;
  text-transform: uppercase;
  border: 1px solid #ffffff;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition: ease-out 0.2s;
  -moz-transition: ease-out 0.2s;
  -o-transition: ease-out 0.2s;
  transition: ease-out 0.2s;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
@media (min-width: 720px) {
  .btn {
    font-size: 13px;
    border: 3px solid #ffffff;
    padding: 10px 12px  11px 12px;
  }
}
.btn:hover,
.btn.btn-yellow {
  color: #cca56a;
  border-color: #cca56a;
}
.btn.btn-yellow:hover {
  color: #000;
  border-color: #000;
}
.btn.btn-yellow.black:hover {
  color: #fff;
  border-color: #fff;
}
.sendbutton {
  width: 130px;
  height: 30px;
  padding: 10px;
  outline: none;
  display: block;
  margin: 0 auto;
  font-size: 8px;
  cursor: pointer;
  background: #fff;
  line-height: 10px;
  text-align: center;
  font-weight: normal;
  white-space: nowrap;
  color: #cca56a;
  text-decoration: none;
  vertical-align: middle;
  text-transform: uppercase;
  border: 2px solid #cca56a;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition: ease-out 0.2s;
  -moz-transition: ease-out 0.2s;
  -o-transition: ease-out 0.2s;
  transition: ease-out 0.2s;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
@media (min-width: 720px) {
  .sendbutton {
    width: 160px;
    height: 40px;
    font-size: 13px;
    line-height: 18px;
    border: 3px solid #cca56a;
  }
}
.sendbutton:hover {
  color: #000;
  border-color: #000;
}
.slick-dots {
  bottom: 0px;
  left: 60px;
  width: 180px;
  height: 20px;
  overflow: hidden;
  text-align: center;
  position: absolute;
}
.slick-dots li {
  width: 10px;
  height: 10px;
  margin-right: 8px;
  display: inline-block;
  overflow: hidden;
  cursor: pointer;
  background: url("../img/pagination.png") 0 0 no-repeat;
}
.slick-dots li button {
  width: 10px;
  height: 10px;
  border: none;
  outline: none;
  padding-left: 20px;
  overflow: hidden;
  display: inline-block;
  background: transparent;
}
.slick-dots li.slick-active {
  background: url("../img/pagination.png") -20px 0 no-repeat;
}
/* Typography
   ========================= */
h1,
h2,
h3,
h4 {
  margin: 0;
  padding: 0;
}
h2 {
  font-weight: 400;
  text-align: center;
}
p {
  padding: 0;
  margin: 0 0 10px 0;
}
a {
  text-decoration: none;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
i {
  font-style: normal;
}
.text-center {
  text-align: center !important;
}
/* Helper classes
   ========================= */
.ir {
  background-color: transparent;
  border: 0;
  overflow: hidden;
  /* IE 6/7 fallback */
  *text-indent: -9999px;
}
.ir:before {
  content: "";
  display: block;
  width: 0;
  height: 150%;
}
.hidden {
  display: none !important;
  visibility: hidden;
}
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}
.invisible {
  visibility: hidden;
}
.clearfix:before,
.clearfix:after,
.container:before,
.container:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}
.clearfix:after,
.container:after {
  clear: both;
}
.clearfix,
.container {
  *zoom: 1;
}
.img-responsive {
  display: block;
  width: 100% \9;
  max-width: 100%;
  height: auto;
}
@media (max-width: 719px) {
  .hidden-s {
    display: none !important;
    visibility: hidden;
  }
}
